@charset "UTF-8";

// ----------------------------------------------
// Sample page styles (demo)
// ----------------------------------------------
body {
    background: #59ABE3;
}
.sample-table {
    height: 100vh;
    width: 100%;
    display: table;
    .sample-table-cell {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        color: $color-white;
    }
    .sample-box {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding: 15px 0;
        svg {
            width: 260px;
            height: 260px;
            color: rgba($color-white, 0.8);
        }
    }
}

