@charset "UTF-8";

// ----------------------------------------------
// Project's variables: colors, fonts, sizes etc.
// ----------------------------------------------

// Color palette
$color-white: #ffffff;
$color-black: #000000;

// Fonts
$font-sans-serif: Arial, Tahoma, Verdana, Helvetica, sans-serif;

// Devices points for media queries
$desktop: add point;
$tablet-landscape: add point;
$tablet-portrait: add point;
$mobile-landscape: add point;
$mobile-portrait: add point;
